# **Google Colab**


Google Colaboratory (Google Colab) is a cloud-based Jupyter notebook environment provided by Google. Colab offers a convenient and interactive platform for writing, executing, and sharing Python code online. You can access it from any device as long as you have an internet connection. A notebook is composed of text or code cells that can be ran individually or sequentially (from top to bottom).

***Text Blocks (Markdown Cells):*** Text blocks, like the one you are currently reading, are ignored when running the code. They allow you to add headers and subheaders, add bullet points and lists, include mathematical equations using LaTeX syntax, provide descriptions, instructions, or any other information related to your code. These text blocks utilize the markdown language for formatting. For a quick reference, you can consult: [Markdown Cheat Sheet](https://www.markdownguide.org/cheat-sheet/).



***Code Cells***: are used for writing and executing Python code within the notebook. These cells allow you to write and run code, perform data analysis, or develop machine learning models. Code cells support syntax highlighting and it highlight errors. Cells can be executed by clicking the "Play" button on the left hand side of the cell (Shift+Enter). The results will be displayed below the cell if applicable (don't forget to print()!).



***Why are we using Google Colab?***
* ***Google Earth Engine & Google Drive:*** One of the primary motivations for utilizing Colab is its integration with Google Earth Engine and Google Drive. This integration allows you to leverage the capabilities of Google Earth Engine directly within Colab. [Google Earth Engine.](https://code.earthengine.google.com/) Colab also integrates with Google Drive, allowing you to import and export data.

* ***Free, Cloud-based, and Collaborative:*** Colab is free and requires no installation as it is cloud based. All your code and data are stored in the cloud, allowing you and your teammates to be able to access it from anywhere (with an internet connection) and work in it simultaneously.

* ***GPU and TPU Support***: Colab provides really powerful GPUs (Graphics Processing Units) and TPUs (Tensor Processing Units). This is useful for running computationally intensive tasks (like our machine and deep learning tasks we will be running). It helps accelerate training times and enables you to work with large datasets more effectively.


***Hot Keys***
- **Ctrl/Cmd+M, S**: Save the notebook
- **Ctrl/Cmd+M, D**: Delete the current cell
- **Ctrl/Cmd+M, I**: Interrupt the kernel (stop the execution of a cell)
- **Ctrl/Cmd+M, B**: Insert a new code cell below the current cell
- **Ctrl/Cmd+M, A**: Insert a new code cell above the current cell
- **Ctrl/Cmd+M, M**: Convert the current cell to a markdown cell for text formatting
- **Ctrl/Cmd+M, Y**: Convert the current cell back to a code cell
- **Ctrl/Cmd+M, Enter**: Enter edit mode for the current cell
- **Ctrl/Cmd+M, P**: Open the command palette to access various commands

# **Python Referesher**

# **Variables**
Variables are used to store information in python. Variables are a way to store and refer to data in your code. Variables serve as placeholders/ containers that can store different types of data. Including: numbers, strings, lists, or more complex objects. When you assign a value to a variable, python stores that value and associates to the name of the variable. This allows you to access and change/manipulate the value/s stored there throughout your code.

***Variables characteristics:***

*  ***Naming rules***: They can contain letters (uppercase/lowercase), digits, and underscores (_). Though names cannot start with a digit. Additionally, python is case-sensitive, so variables named "Variable" and "variable" (please don't name them this) are considered different variables.
*   ***Assignment***: To assign a value to a variable, you use the equals (=) sign.
* ***Dynamic Typing***: The type of variable is determined by the value assigned to it. EX: If you assign an integer (ex: 3) to a variable, it automatically becomes an integer. It also allows you to reassign variables with different types of values while executing.
* ***Accessibility of Data***: Variables can be accessed and used throughout your code depending upon the scope where they were defined. The scope defines the portion of the code where a variable is accessible. Variables can have either global scope (accessible from anywhere in the code) or local scope (accessible only within a specific function or block of code).

## **Numbers**
One of the most simple data types that can be stored in a variable is a Number. This includes: integers, floats, and complex numbers.

* ***Integers***: Integers are whole numbers and can be positive or negative Ex: -1, 2, 320, 4000, etc.

* ***Floating-Point Numbers (Floats)***: Floats represent numbers with decimal points or fractions and can also be positive or negative. Ex: -1.612, 2.2233, 0.0001, etc.

**Mathmatical operations**:

* addition (+)
* subtraction (-)
* multiplication (*)
* division (/) *important to note that this will save as a float

### Integers

In [1]:
a = 2
b = 4
print(a)
print(b)
print(type(a))
print(type(b))

2
4
<class 'int'>
<class 'int'>

In [2]:
# Addition
addition = a + b
print(addition)
print(type(addition))
addition_a = a + 5
print(addition_a)
print(type(addition_a))

6
<class 'int'>
7
<class 'int'>

In [3]:
# Subtraction
subtraction = a - b
print(subtraction)
print(type(subtraction))
subtraction_a = a - 1
print(subtraction_a)
print(type(subtraction_a))

-2
<class 'int'>
1
<class 'int'>

In [4]:
# Multiplication
multiplication = a*b
print(multiplication)
print(type(multiplication))
multiplication_a = a*2
print(multiplication_a)
print(type(multiplication_a))

8
<class 'int'>
4
<class 'int'>

In [5]:
# Division
division = a/b
print(division)
print(type(division))
division_a = a/2
print(division_a)
print(type(division))

0.5
<class 'float'>
1.0
<class 'float'>

### Floats

In [6]:
a = 2.7
b = 4.6
print(a)
print(b)
print(type(a))
print(type(b))

2.7
4.6
<class 'float'>
<class 'float'>

In [7]:
# Addition
addition = a + b
print(addition)
print(type(addition))
addition_a = a + 5
print(addition_a)
print(type(addition_a))

7.3
<class 'float'>
7.7
<class 'float'>

In [8]:
# Subtraction
subtraction = a - b
print(subtraction)
print(type(subtraction))
subtraction_a = a - 1
print(subtraction_a)
print(type(subtraction_a))

-1.8999999999999995
<class 'float'>
1.7000000000000002
<class 'float'>

In [9]:
# Multiplication
multiplication = a*b
print(multiplication)
print(type(multiplication))
multiplication_a = a*2
print(multiplication_a)
print(type(multiplication_a))

12.42
<class 'float'>
5.4
<class 'float'>

In [10]:
# Division
division = a/b
print(division)
print(type(division))
division_a = a/2
print(division_a)
print(type(division))

0.5869565217391305
<class 'float'>
1.35
<class 'float'>

## **String**
A string is a sequence of characters (ie: text). Strings can be used to change/manipulate text (can update a combination of letters, numbers, symbols, and spaces). Strings can very easily be created by enclosing the text within quotes (single '' or double "").


***String Characteristics:***
* ***Indexing***: Indexing allows you to select and access individual characters of a string
* ***Slicing***: Slicing allows you to select and extract a portion of a string. It allows you to specify a range of indices to retrieve a substring
* ***Concatenation:*** You can concatenate strings using the + operator. This allows you to combine two (or more) strings into a single string
* ***Utility Functions:*** There are several, pre-built-in functions for strings to perform various operations. These functions allow you to manipulate and transform strings.
* ***Formatting***: There are also different ways to format strings. One of the most common approachs is to use the format() method or f-strings (formatted string literals). These allow you to insert dynamic values into strings.

In [11]:
country = "Germany"
print(country)
print(type(country))

Germany
<class 'str'>

In [12]:
#Concatenation - Addition
intro = "I live in:"
ending = "It is nice here"
message = intro +" " + country + ". " + ending  + "!"
print(message)

I live in: Germany. It is nice here!

In [13]:
#Concatenation - Multiplication
germany_3_times = country*3
print(germany_3_times)
print(type(germany_3_times))

GermanyGermanyGermany
<class 'str'>

In [14]:
# If you would like to write a long string of text, three quotation marks are needed (""").
sun = """Today it is really pretty outside.
The sun is shinning and the birds are chirping.
I think I'll go for a walk."""

print(sun)

Today it is really pretty outside.
The sun is shinning and the birds are chirping.
I think I'll go for a walk.

In [15]:
#Indexing

#Germany
print(country[0])  # selects the letter that is in the 0 place
print(country[1])  # selects the letter that is in the 1 place

G
e

In [16]:
#Slicing
print(country[0:3])
print(country[6:])

Ger
y

In [17]:
#Utility Functions

hello = "Hello, Class!"
print(hello.upper())
print(hello.lower())
print(hello.replace("Class", "team"))
print(hello.split(", "))

HELLO, CLASS!
hello, class!
Hello, team!
['Hello', 'Class!']

In [18]:
# Utility Functions - Length
print(len(country))

7

In [19]:
# Utility Functions - Join

hello_class_list = ['Hello', 'Class']
separator = '- '
print(separator.join(hello_class_list))

Hello- Class

In [20]:
#Formatting

school = "Technical University of Munich"
year = 1868
print("The {} was founded in {}.".format(school, year))


print(f"The {school} was founded in {year}.")

The Technical University of Munich was founded in 1868.
The Technical University of Munich was founded in 1868.

## **Binary Values**

Binary values (Boolean values) are a special set of numbers that are either 1 or 0 (true/True or false/False). The main operations for booleans are: (1) not, (2) and, (3) or. There are also arthimetic operators: (1) equal, (2) less than, (3) greater than, (4) not equal, (5) less than or equal, (6) greater than or equal.

In [21]:
t = True
f = False
print(t)
print(type(t))

print(f)
print(type(f))

True
<class 'bool'>
False
<class 'bool'>

In [22]:
#Boolean - not
Boolean_Not = not t # opposite of True
print(Boolean_Not)
print(type(Boolean_Not))

False
<class 'bool'>

In [23]:
#Boolean - and
Boolean_And = t and f # both variables must be True in an "and" for the result to be True
print(Boolean_And)
print(type(Boolean_And))

False
<class 'bool'>

In [24]:
#Boolean - or
Boolean_Or = t or f # at least one variable must be True for result to be True
print(Boolean_Or)
print(type(Boolean_Or))

True
<class 'bool'>

In [25]:
#Arithmetic Operators
a = 5
b = 4
Boolean_Equal = a == b
Boolean_NotEqual = a != b
Boolean_LessThan = a < b
Boolean_GreaterThan_EqualTo = a >= b
print(Boolean_Equal)
print(Boolean_NotEqual)
print(Boolean_LessThan)
print(Boolean_GreaterThan_EqualTo)

False
True
False
True

# **List, Dictionaries, and Functions**

## **Lists**
A list allows you to store and organize a collection of values and is indicated by [].

***List Characteristics:***

* ***Ordered:*** Values within a list have a specific position or index. You can access individual values by their index. The first value starts at 0.

* ***Mutable:*** You can modify lists by adding, removing, or changing values. This flexibility allows you to update or manipulate the contents of a list as needed.

* ***Heterogeneous:*** A list can contain integers, strings, and even other lists.

* ***Nesting:*** Lists can be nested within each other. This allows you to store complex data structures or to create multidimensional lists. You can use this to better help organize your data.

* ***Iterability:*** You can iterate over each value within a list (like by using loops). This makes performing operations on each item of the list significantly easier.

In [26]:
cities = ["Munich", "Berlin", "Paris", "London"]

In [27]:
#Ordered / Index
print(cities[0])

Munich

In [28]:
#Mutable - append
cities.append("Lisbon")
print(cities)

['Munich', 'Berlin', 'Paris', 'London', 'Lisbon']

In [29]:
#Mutable - remove

cities.remove("Paris")
print(cities)

['Munich', 'Berlin', 'London', 'Lisbon']

In [30]:
#Heterogeneous
cities.append(5)
print(cities)

['Munich', 'Berlin', 'London', 'Lisbon', 5]

In [31]:
#Nesting
## number is city population in millions
nested_cities = [
    ["Munich", 1.47, "Germany"],
    ["Berlin", 3.65, "Germany"],
    ["Paris", 2.16, "France"],
    ["London", 8.98, "United Kingdom"]
]
print(nested_cities)

[['Munich', 1.47, 'Germany'], ['Berlin', 3.65, 'Germany'], ['Paris', 2.16, 'France'], ['London', 8.98, 'United Kingdom']]

In [32]:
# Nesting - accessing values
print(nested_cities[0])
print(nested_cities[2][0])
print(nested_cities[3][1])

['Munich', 1.47, 'Germany']
Paris
8.98

In [33]:
# Nesting - modifying values
nested_cities[1][1] = 3.8
print(nested_cities[1])

['Berlin', 3.8, 'Germany']

In [34]:
#Nesting - adding
nested_cities.append(["Rome", 2.7, "Italy"])
print(nested_cities)

[['Munich', 1.47, 'Germany'], ['Berlin', 3.8, 'Germany'], ['Paris', 2.16, 'France'], ['London', 8.98, 'United Kingdom'], ['Rome', 2.7, 'Italy']]

In [35]:
#Iteration
for info in nested_cities:
    print("City:", info[0])
    print("Population:", info[1])
    print("Country:", info[2])
    print("---------------------")

City: Munich
Population: 1.47
Country: Germany
---------------------
City: Berlin
Population: 3.8
Country: Germany
---------------------
City: Paris
Population: 2.16
Country: France
---------------------
City: London
Population: 8.98
Country: United Kingdom
---------------------
City: Rome
Population: 2.7
Country: Italy
---------------------

## **Dictionaries**

A dictionary allows you to store and retrieve data using key-value pairs and are indicated by {}. Unlike lists, you access dictionaries by their keys rather than their positions

***Dictionary Characteristics:***

***Key-Value Pairs:*** Each key is unique, maps to a corresponding value, and are used to retrieve their associated values. The key-value pairs are surrounded by curly braces {} and each pair is separated by a colon : .

***Mutable:*** You can modify dictionaries by adding, removing, or updating key-value pairs.

***Heterogeneous:*** A dictionary can contain integers, strings, lists or even other dictionaries.

In [36]:
#Dictionary
university = {
    "name": "TUM",
    "found": 1868,
    "city": "Munich"
}

In [37]:
#Accessing Key-Value Pairs
print(university["name"])
print(university["found"])

TUM
1868

In [38]:
#Mutable - append
university["country"] = "Germany"
print(university)

{'name': 'TUM', 'found': 1868, 'city': 'Munich', 'country': 'Germany'}

In [39]:
#Mutable - remove
del university["found"]
print(university)

{'name': 'TUM', 'city': 'Munich', 'country': 'Germany'}

## **Functions**
Functions are reusable blocks of code that perform a specific task or a series of tasks. They allow you to organize your code, promote reusability, and make your programs more modular. Functions take input parameters (if required), perform operations, and may return an output value.

* ***Modularity:*** Functions break down complex tasks into smaller, manageable parts to be completed. They are basically a set of instructions to perform a specific task (like a recipe).

* ***Reusability:*** Functions can be reused throughout a program multiple times and can be called from different parts within the program.

* ***Code Organization:*** Functions help in organizing code by separating different tasks into individual blocks of code. This will help you improve the readability (and maintainabilty) of your program.

* ***Abstraction:*** Functions hides the implementation details of a task; meaning it doesn't always show how the task is internally performed.

* ***Parameter Passing:*** Functions can leverage parameters, which are values passed into the function for it to work with. Parameters allow you a way to customize the behavior of your function.

* ***Returns Values:*** Functions can return a value or result after performing their task. The return statement allows a function to send a value back to the caller.

* ***Function Composition:*** Functions can be nested together, meaning that the output of one function can be used as the input for another function.

In [40]:
#Modularity
def greet():
    print("Hello, class!")

greet()

Hello, class!

In [41]:
#Parameter passing
# Parameter in this example is name
# Arguement passed in this example is Alice and Bob
def greet(name):
    print("Hello,", name)

greet("Alice")

#Reusability
greet("Bob")

Hello, Alice
Hello, Bob

In [42]:
##Returns Values
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 3)
print("Result:", result)

Result: 8

In [43]:
#Function Composition
def greet(name):
    return "Hello, " + name

def emphasize(text):
    return text.upper() + "!"

result = emphasize(greet("Class"))
print(result)

HELLO, CLASS!

# **Classes, Conditional Statements, and Loops**

## **Classes**
A class is a blueprint or template for representing complex data structures (objects). It defines a set of attributes (variables) and methods (functions) that the objects of that class will possess. Basically, it allows you to save multiple simple or complex datatypes in variables (like a dictionary, but more "elegant").

***Class Characteristics:***

* ***Objects:*** An object is a specific occurrence or realization of a class. EX: Class that is a "Student," objects for this class could be specific students.

* ***Attributes:*** Attributes store associated with the class. Attributes represent the state or characteristics of the objects created from the class; EX: name of the student, their age, and thier masters program.

* ***Methods:*** Methods are functions defined within the class. Methods define the behavior or actions that objects of the class can perform.
EX: "Student" class might have methods like wakeUp(), study(), and sleep()

* ***Inheritance:*** Inheritance allows you to create new classes based on existing ones. This allows you to reure code and can help create hierarchical relationships between classes. IE: A new class, called a subclass or derived class, can inherit attributes and methods from its parent class, called a superclass or base class.

* ***Polymorphism:*** Polymophism means that objects of different classes can be used interchangeably if they share a common interface (attributes and methods).

* ***Modularity:*** Classes promote modularity by breaking down complex systems into smaller, more manageable parts. Each class represents a distinct component or entity of the system, making it easier to understand and maintain the code.

In [44]:
#Objects

class Student:
    pass

# Creating objects/instances
student1 = Student()
student2 = Student()

In [45]:
#Attributes

class Student:
    def __init__(self, name, age, masters):
        self.name = name
        self.age = age
        self.masters = masters

# Creating objects with attributes
student1 = Student("John", 20, "SOT")
student2 = Student("Alice", 22, "SRM")
student3 = Student("Mary", 28, "SOT")

# Accessing attributes
print(student1.name)
print(student2.age)
print(student3.masters)

John
22
SOT

In [46]:
#Methods

class Student:
    def __init__(self, name, age, masters):
        self.name = name
        self.age = age
        self.masters = masters

    def introduce(self):
        print("Hello, my name is", self.name, "and I'm", self.age, "years old and I am studying", self.masters,".")

# Creating objects with attributes
student1 = Student("John", 20, "SOT")
student2 = Student("Alice", 22, "SRM")
student3 = Student("Mary", 28, "SOT")

# Accessing attributes
student1.introduce()
student2.introduce()
student3.introduce()

Hello, my name is John and I'm 20 years old and I am studying SOT .
Hello, my name is Alice and I'm 22 years old and I am studying SRM .
Hello, my name is Mary and I'm 28 years old and I am studying SOT .

In [47]:
#Inheritance

# Base class
class Person:
    def __init__(self, name):
        self._name = name

    def introduce(self):
        print("Hello, my name is", self._name)

# Derived class inheriting from Person
class Student(Person):
    def __init__(self, name, age, masters):
        super().__init__(name)
        self._age = age
        self.masters = masters

    def introduce(self):
        super().introduce()
        print("I'm", self._age, "years old and I am studying", self.masters,".")

# Creating objects
person = Person("John")
person.introduce()

student = Student("Alice", 22, "SRM")
student.introduce()

Hello, my name is John
Hello, my name is Alice
I'm 22 years old and I am studying SRM .

## **Conditional Statements**

Conditional statements allow you to make decisions and control the flow of your program based on certain conditions. They enable your program to execute different blocks of code depending on whether a condition is true or false.


* ***Decision Making:*** Conditional statements allow your program to make decisions based on certain conditions. They evaluate conditions and execute different blocks of code depending on whether the condition is true or false.

* ***Condition Evaluation:*** Conditional statements evaluate conditions using comparison operators (e.g., ==, !=, <, >, <=, >=). Results in either True or False.
* ***Branching:*** Branching allows your program to follow different paths of execution based on the condition's outcome. It helps your program take different actions depending on the situation.

* ***Multiple Conditions:*** Conditional statements can include multiple conditions using logical operators (e.g., and, or, not). These operators allow you to combine conditions and create complex decision-making scenarios.

* ***Nested Conditions:*** Conditional statements can be nested within each other, allowing for more complex decision-making. Inner conditions are evaluated only if the outer condition is true.

In [48]:
#Decision Making, Condition Evaluation, and Branching
weather = "sunny"

if weather == "sunny":
# if weather variable is equal to "sunny" then this will equal to true and will print "It's a sunny day!" if it is not true, it will continue to the elif statement then to else
    print("It's a sunny day!")
elif weather == "cloudy":
    print("It's a cloudy day.")
else:
    print("The weather is unknown.")

It's a sunny day!

In [49]:
#Multiple Conditions
temperature = 25
is_raining = False

if temperature > 30 and not is_raining:
    print("It's a hot and sunny day!")
elif temperature < 10 or is_raining:
    print("It's either cold or raining.")
else:
    print("The weather is moderate.")

The weather is moderate.

In [50]:
#Nested Conditions

temperature = 32
is_raining = True

if temperature > 30:
    if is_raining == True:
        print("It's hot and raining outside.")
    else:
        print("It's a hot and sunny day!")
elif temperature < 10 or is_raining:
    print("It's either cold or raining.")
else:
    print("The weather is moderate.")

It's hot and raining outside.

## **Loops**

***Loop Characteristics***
* ***Iteration:*** Loops iterate over a sequence of elements such as a list, string, or range of numbers. It repeatedly executes the same code for each item in the sequence.

* ***Repetition:*** Loops allow you to repeat a block of code multiple times. Loops will help you automate repetitive tasks and will save you from writing the same code over and over again.

* ***Condition-based Execution:*** Loops can execute a block of code as long as a certain condition is true. The loop continues until the condition becomes false.

* ***Control Flow:*** Loops provide control flow statements (such as "break" and "continue") to modify the loop's behavior. "break" terminates the loop prematurely, and "continue" skips the current iteration and proceeds to the next iteration.

* ***Nested Loops:*** Loops can be nested within each other

This results in three types of loops: for, while, and break & continue

In [51]:
#Iteration & Repetition

cities = ["Munich", "Berlin", "Paris", "London"]
for city in cities:
    print(city)

Munich
Berlin
Paris
London

In [52]:
#Condition-based execution
count = 1
while count <= 5:
    print(count)
    count += 1 #stops after 5

1
2
3
4
5

In [53]:
#Control flow
for num in range(1, 6):
    if num == 3:
        break  # Terminate the loop when num is 3
    if num == 2:
        continue  # Skip the iteration when num is 2
    print(num)

1

In [54]:
#Nested loops
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### **for**
A for loop iterates over a sequence of elements (e.g., a list, string, or range of numbers). It executes a block of code for each item in the sequence.

In [55]:
cities = ["Munich", "Berlin", "Paris", "London"]
for city in cities:
    print(city)

Munich
Berlin
Paris
London

### **while**
A while loop repeatedly executes a block of code as long as a specified condition remains true. It keeps iterating until the condition becomes false.

In [56]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

### **break & continue**
Break and continue statements are used within loops to control the flow of execution.

Break: The break statement terminates the loop prematurely, exiting the loop's block of code.

Continue: The continue statement skips the current iteration of the loop and proceeds to the next iteration.

In [57]:
for num in range(1, 6):
    if num == 3:
        break  # Terminate the loop when num is 3
    if num == 2:
        continue  # Skip the iteration when num is 2
    print(num)

1

## **Self-Study Module Exercise - Temperature in Celsius**

Temperature Conversion:

* Write a Python script that asks the user to input a temperature in Celsius.

* Use an if statement to check if the temperature is below freezing (0 degrees Celsius) and print "It's freezing!" if true. If not, print "It's not freezing."

In [60]:
temp_cecius= float(input("Please input a temperature in celcius"))

if temp_cecius < 0:
  print("it's freezing")
else:
  print("it's not freezing")

Please input a temperature in celcius-1
it's freezing